<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {{ content_for_header }}
    
    <title>
      {%- if page_title != blank -%}
        {{ page_title | escape }} - {{ shop.name | escape }}
      {%- else -%}
        {{ shop.name | escape }}
      {%- endif -%}
    </title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <link rel="stylesheet" href="{{ 'base.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'header.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'footer.css' | asset_url }}">
  </head>
  
  <body class="template-{{ template.name }}">
    {%- section 'header' -%}
    
    <main id="main" role="main" aria-label="Main content">
      {{ content_for_layout }}
    </main>
    
    {%- section 'footer' -%}
  </body>
</html>
